<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WebDev | Home</title>

  <link rel="stylesheet" href="css/main.css">
 <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body >
<div id='app'><!--  class='{"body": windows' -->
  <div class="form_wind" v-if='windows === "form"'>
    <form action="">
      <div class="block_exit">
        <img src="images/icons/4115230-cancel-close-cross-delete_114048.png" alt="" class='exit' @click='removeClass()'>
      </div>
      <div class="form_title">Заявка на ремонт</div>
      <div class="form_items">
        <textarea name="description" id="" style="width: 80%; height: 150px;" class='description' v-model='inputForm' placeholder="Опишите неисправность которую нужно устранить" @input='proverk()'></textarea>
        <button href="#" :class="{'btn-primary': button, 'import': button}" disabled='true' class='btn' >Отправить</button>
      </div>  
  </form>
  </div>
   <div class="signup" v-if="windows === 'signup'">
      <form action="">
        <div class="block_exit">
          <img src="images/icons/4115230-cancel-close-cross-delete_114048.png" alt="" class='exit' @click='removeClass()'>
        </div>
        <div class="sign_title">Регистрация</div>
        <div class="sign_position">
          <div class="sign_items">
            <div class="sign_column">
               <input type="text" class="sign_input" placeholder="Имя">
            <input type="text" class="sign_input input_down" placeholder="Фамилия">
            </div>
           <div class="sign_column">
             <input type="text" class="sign_input" placeholder="Почта">
            <input type="text" class="sign_input input_down" placeholder="Пароль">
           </div> 
          </div>
          <button href="#" class="btn-primary import sign_button" disabled='true' class='btn' >Отправить</button>
        </div>
        
    </form>
  </div>
  <div class="signup" v-if="windows === 'signin'">
    <form action="">
      <div class="block_exit">
        <img src="images/icons/4115230-cancel-close-cross-delete_114048.png" alt="" class='exit' @click='removeClass()'>
      </div>
      <div class="sign_title">Авторизация</div>
      <div class="sign_position">
        <div class="sign_items">
         <div class="signip_column">
           <input type="text" class="signin_input" placeholder="Почта">
          <input type="text" class="signin_input sigin_input_down" placeholder="Пароль">
         </div> 
        </div>
        <button href="#" class="btn-primary import sign_button" disabled='true' class='btn' >Отправить</button>
      </div>
      <div class="buttonSignup">
      <a @click='showWind("signup")'>Зарегистироваться</a>
    </div>
  </form>
  </div>
  <!-- Header -->
  <div :class="{'hidden': windows}" >
      <header class=" header_home">
      <div class="container">
        <a href="index.html" class="navbar-brand">
          <img src="images/logo.svg" alt="WebDev logo">
        </a>
        <nav class="navbar-nav">
          <ul>
            <li>
              <a href="index.html">На главную</a>
            </li>
            <li>
              <a href="about.html">О нас</a>
            </li>
            <li>
               <a @click='showWind("signin")'>Войти</a>
            </li>
            <li>  
              <a href="contact.html">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
     
      <!-- Hero Section -->
      <section class="hero">
        <div class="hero_block">
          <div class="heroText">
            <h1>Сервисный центр <br></h1><h2>по ремонту телефонов</h2>
          </div>
          <p class="lead">Для оформления заявки на ремонт, заполните форму</p>
          <div class="form">
            <a href="#" class="btn btn-primary aform" @click='showWind("form")'>Форма</a>
          </div>
        </div>
        <div class='hero_img'>
          <img src="images/home/bg-header-img.png" alt="" class="hero_imtItems1" >
          <img src="images/home/8abedb5705a6dae23b.png" alt="" class="hero_imtItems2">
        </div>
      </section>
      <!-- Services Section -->
      <section class="section-padding">
        <div class="container">
          <div class="services">
            <div class="service-col">
              <div class="service">
                <img src="images/icons/web-design.svg" alt="Web Design">
                <h4>Спектр услуг</h4>
                <p>Просмотреть наши услуги </p>
                   <ul  class='ul list'>
                     <li>Диагностика</li>
                     <li>Предастовление временного телефона</li>
                     <li>Авторизация</li>
                     <li>Перепрошивка</li>
                     <li>Программный ремонт</li>
                     <li>Компонентный ремонт</li>
                     <li>Модульный ремонт</li>
                     <li>Гарантия работы</li>
                 </ul> 
                <a @click='description()'>Посмотреть </a>
              </div>
            </div>
            <div class="service-col">
              <div class="service">
                <img src="images/icons/frontend.svg" alt="Frontend">
                <h4>Каталог</h4>
                <p>Выбрать и купить смартфон</p>
                <a href="#" >Learn More</a>
              </div>
            </div>

            <div class="service-col">
              <div class="service">
                <img src="images/icons/backend.svg" alt="Backend">
                <h4>Ремонт телефонов</h4>
                <p>Здесь мы показываем как наши инженера ремонтируют телефоны</p>
                <a href="#">Learn More</a>
              </div>
            </div>

          </div>
        </div>
      </section>

      <!-- Split Section -->
      <section class="section-padding section-grey">
        <div class="container">
          <div class="split-section">
            <div class="split-section__text">
              <h2></h2>
              <p class="lead">Бишкек, улица Тоголок Молдо д.86</p>
            </div>
            <div class="split-section__image">
             <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ae8b2d759b5c315cfdeedd245d397bd458a85f2f7f9bacf34fcfc93b68a5a2f42&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </section>

    </main>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="footer-row">
          <small class="footer-copyright">© 2020 WebDev — All Rights Reserved</small>
          <ul class="footer-social">
            <li>
              <a href="#">
                <img src="images/icons/facebook.svg" alt="WebDev on Facebook">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="images/icons/instagram.svg" alt="WebDev on Instagram">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="images/icons/youtube.svg" alt="WebDev on Youtube">
              </a>
            </li>
            <li>
              <a href="#">
                <img src="images/icons/twitter.svg" alt="WebDev on Twitter">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  
  </div>
<script type="text/javascript" src="assets/vue.js"></script>
<script type="text/javascript" src="assets/main.js"></script>
</body>
</html>
